<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Pixit - Responsive Boostrap3 Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="/frontend/assets/css/icons/fontawesome/font-awesome.css" rel="stylesheet">
    <link href="/frontend/assets/css/icons/flaticons/flaticon.css" rel="stylesheet">
    <link href="/frontend/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/frontend/assets/css/style.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="/frontend/assets/plugins/revolution/revolution.css" rel="stylesheet">
    <link href="/frontend/assets/video/video-js.min.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    {% block style %}{% endblock style %}

    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/admin-ui/assets/plugins/wizard/wizard.js"></script>

    <script src="/frontend/assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body id="animated-page">

    <!-- BEGIN TOPBAR -->
    <nav class="navbar navbar-fixed-top" role="navigation" data-0="line-height:85px; height:85px; background-color:rgba(43,46,51,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(43,46,51,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars c-white"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="index.html" data-0="line-height:80px" data-300="line-height:58px">
                        <img src="/frontend/assets/img/logo.png" data-0="line-height:80px" data-300="line-height:58px" alt="logo" width="90" height="29">
                    </a>
                </h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:7px;">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li><a href="/tour">Tour</a>
                    </li>
                    <li><a href="/pricing">Pricing</a>
                    </li>
                    <li><a href="/install">Installation</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END TOPBAR -->
    {% block content %}{{ content|raw }}{% endblock content %}


    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a> 
    <!-- END FOOTER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    
    <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/frontend/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="/frontend/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/frontend/assets/plugins/skrollr/skrollr.min.js"></script>
    <script src="/frontend/assets/plugins/jquery-scrollto/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/frontend/assets/plugins/stellar/stellar.js"></script>
    <script src="/frontend/assets/plugins/jquery-appear/jquery.appear.js"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE PLUGIN SCRIPTS -->
    <script src="/frontend/assets/plugins/revolution/plugins.min.js"></script>
    <script src="/frontend/assets/plugins/revolution/jquery.revolution.min.js"></script>
    <script src="/frontend/assets/plugins/background-video/jquery.backgroundvideo.min.js"></script>
    <script src="/frontend/assets/plugins/onscroll-effect/js/classie.js"></script>
    <script src="/frontend/assets/plugins/onscroll-effect/js/cbpScroller.js"></script>
    <script src="/frontend/assets/video/video.js"></script>
    <!-- END PAGE PLUGIN SCRIPTS -->

    <script src="/frontend/assets/js/main.js"></script>

    {% block script %}{% endblock script %}
    
    {% block inline %}{% endblock inline %}

</body>

</html>