{% extends 'layout/layout.twig' %}

{% block content %}
<!-- BEGIN VIDEO FULLSCREEN -->
    <section>
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner" id="home">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="slotfade-vertical" data-slotamount="5" data-masterspeed="300">
                        <!-- MAIN IMAGE -->
                        <img src="/frontend/assets/img/bg-blue2.png" alt="blue">
                        <div class="caption sft" data-x="center" data-y="0" data-speed="700" data-start="1400" data-easing="easeOutBack">
                            <h1>We create simple and stunning things</h1>
                        </div>
                        <div class="caption fade" data-x="center" data-y="210" data-speed="500" data-start="1900" data-easing="easeOutBack">
                            <a href="#" class="btn btn-transparent btn-lg  btn-large">BUY IT NOW</a>
                        </div>
                        <div class="caption lfb" data-x="center" data-y="350" data-speed="800" data-start="1900" data-easing="easeOut">
                            <img src="/frontend/assets/img/mockup_ipad.png" class="slide-tablet" alt="index1">
                        </div>
                    </li>
                    <li id="video-slide" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-fstransition="fade" data-fsmasterspeed="500" data-fsslotamount="7">
                        <!-- MAIN IMAGE -->
                        <img src="/frontend/assets/video/preview.jpg" alt="video_forest" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="1500" data-endeasing="Power4.easeIn" data-autoplay="true" data-autoplayonlyfirsttime="false"
                        data-nextslideatend="true" data-forceCover="1" data-dottedoverlay="twoxtwo" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2">
                            <video class="video-js vjs-default-skin" preload="none" poster='/frontend/assets/video/preview.jpg' data-setup="{}" style="height:100%;width:100%">
                                <source src='/frontend/assets/video/preview.mp4' type='video/mp4' />
                                <source src='/frontend/assets/video/preview.webm' type='video/webm' />
                                <source src='/frontend/assets/video/preview.ogv' type='video/ogg' />
                            </video>
                        </div>
                        <div class="caption sft" data-x="center" data-y="150" data-speed="400" data-start="1400" data-easing="easeInQuad" style="z-index:2">
                            <h1>Express yourself with fullwidth video</h1>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- END VIDEO FULLSCREEN -->
    <section class="section-txt bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="align-center">
                        <h2 class="slogan">You must be the change you wish to see in the world.</h2>
                        <p>- Gandhi -</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BEGIN SERVICES -->
    <section id="section-services" class="animated-section section p-b-30 bg-white">
        <div class="container">
            <div class="row side top">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 txt-center">
                    <h1>A lot of possibilities</h1>
                    <p class="m-b-40">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
                    </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row side top">
                <div class="col-md-4">
                    <div class="align-center">
                        <i class="glyph-icon flaticon-ui-elements2 fa-5x m-b-20"></i>
                        <h4 class="text-bold">Valid HTML5</h4>
                        <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="align-center">
                        <i class="glyph-icon flaticon-viral fa-5x m-b-20"></i>
                        <h4 class="text-bold">Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="align-center">
                        <i class="glyph-icon flaticon-gallery fa-5x m-b-20"></i>
                        <h4 class="text-bold">Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SERVICES -->
    <section id="parallax1" class="section p-t-40 p-b-40" data-stellar-background-ratio="0.5">
        <h2 class="hidden"></h2>
        <div class="container">
            <div class="align-center p-t-40 p-b-40">
                <blockquote class="bigquote">Indoctum accusamus comprehensam</blockquote>
                <p>Join us</p>
            </div>
        </div>
    </section>
    <!-- BEGIN TESTIMONIALS -->
    <section class="bg-white">
        <div class="container">
            <div class="row">
                <div class="span12 p-t-50 p-b-40">
                    <div id="testimonials" class="owl-carousel">
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                                <h3 class="normal text-center">
                                    I have been very impressed with your friendliness and responsiveness. Thank you so much and I'm waiting for the next theme!
                                </h3>
                                <p class="text-center">
                                    <img src="/frontend/assets/img/testimonial1.jpg" class="img-circle" alt="Testimonial 1">Steve Mac Queen, client, New York City
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                                <h3 class="normal text-center">
                                    I have been very impressed with your friendliness and responsiveness. Thank you so much and I'm waiting for the next theme!
                                </h3>
                                <p class="text-center">
                                    <img src="/frontend/assets/img/testimonial2.jpg" class="img-circle" alt="Testimonial 2">Steve Mac Queen, client, New York City
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                                <h3 class="normal text-center">
                                    I have been very impressed with your friendliness and responsiveness. Thank you so much and I'm waiting for the next theme!
                                </h3>
                                <p class="text-center">
                                    <img src="/frontend/assets/img/testimonial3.jpg" class="img-circle" alt="Testimonial 3">Steve Mac Queen, client, New York City
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIALS -->
    <!-- BEGIN SUBSCRIBE SECTION -->
    <section id="subscribe" class="subscribe-form">
        <div class="container">
            <div class="row">
                <form>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Enter your e-mail" spellcheck="false">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-large btn-blue" type="submit">
                            Subscribe now
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END SUBSCRIBE SECTION -->
    <!-- BEGIN FOOTER -->
    <section id="footer" class="section footer">
        <div class="container">
            <div class="row animated opacity m-b-20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a>
                        </li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-center copyright">
                <div class="col-sm-12">
                    <p>Copyright &copy; 2014 goPro</p>
                </div>
            </div>
        </div>
    </section>    
    
    
{% endblock content %}